.box{
    background-image: url('./../../../../../public/image/banner.webp');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title{
    font-size: 50px;
    color: black;
    font-family: sans-serif;
    position: relative;
    top: 100px;
    left: 50px;
    
}